In [4]:
2+3
a=3.4
a+1

5

4.4

In [2]:
2+3

5

In [3]:
# See all cell outputs in Jupyter (or iPython)
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [7]:
def Quadrado(x):
    r = x*x
    return x*x

In [8]:
Quadrado(-2)
Quadrado(0)
Quadrado(3)
Quadrado(10)

4

0

9

100

In [9]:
l = [3, 2.72, "Python"]

In [10]:
l = [-2, 0, 3, 10]

In [11]:
for i in l:
    Quadrado(i)

4

0

9

100

In [12]:
l[0]
l[1]
l[-1]

-2

0

10

In [14]:
list(range(5))        # 0,...4
list(range(2,6))      # 2,..,5
list(range(10,20,2))  # 10, 12, 14, 18

[0, 1, 2, 3, 4]

[2, 3, 4, 5]

[10, 12, 14, 16, 18]

In [15]:
# Imprimir a lista como (indice, valor)

In [17]:
for i in range(len(l)):
    print(i, l[i])

0 -2
1 0
2 3
3 10

In [18]:
nome="Maria"
idade=20
altura=1.68

In [22]:
texto = "O meu nome é %s a minha idade é %d e a minha altura é %.1f" %(nome, idade, altura)
print(texto)

O meu nome é Maria a minha idade é 20 e a minha altura é 1.7

In [20]:
print(texto)

O meu nome é Maria a minha idade é 20 e a minha altura é 1.7

In [21]:
texto = f"O meu nome é {nome} a idade é {idade+1} anos e minha altura é {altura}cm."
print(texto)

O meu nome é Maria a idade é 21 anos e minha altura é 1.68cm.

In [36]:
# Imprimir a tabuada
numero=3
for i in range(1,11):
    res = numero * i
    print(f"{i:2d} x {numero} = {res:02d}")
    # print("%2d x %d = %02d" %(i, numero, res))

 1 x 3 = 03
 2 x 3 = 06
 3 x 3 = 09
 4 x 3 = 12
 5 x 3 = 15
 6 x 3 = 18
 7 x 3 = 21
 8 x 3 = 24
 9 x 3 = 27
10 x 3 = 30

In [41]:
# mesma coisa mas sem imprimir os resultados ímpares
numero=3
for i in range(1,11):
    res = numero * i
    if res%2 == 0:
        print(f"{i:2d} x {numero} = {res:02d}")

 2 x 3 = 06
 4 x 3 = 12
 6 x 3 = 18
 8 x 3 = 24
10 x 3 = 30

In [42]:
def Integrate(f, x0, xf, dx):
    soma = 0
    x = x0 + dx/2
    while x<=xf:
        soma += dx*f(x)
        x+=dx
        
    return soma

In [43]:
from math import sin, pi

In [44]:
Integrate(sin, 0, pi, 0.1)

1.9999683662670709

In [45]:
dxl = [0.5, 0.1, 0.01, 0.001]

for dx in dxl:
    r = Integrate(sin, 0, pi, dx)
    print(f"{dx} \t {r}")

0.5 	 2.010873737223817
0.1 	 1.9999683662670709
0.01 	 2.0000070650799056
0.001 	 2.0000000003679577